<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>cybersecurity engineer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jobs.css' %}">
    <body style="background-image:url('{% static 'images/bgfinal.jpeg' %}') ;"></body>
    <div class="top">
      <h1 style="color:rgb(40, 3, 3);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">CYBERSECURITY ENGINEER</h1>
      <p style="font-size:20px;">A cybersecurity engineer is a professional who is responsible for designing, implementing and maintaining security systems and protocols to protect an organization's network and data from cyber threats. </p>
    </div >
    <div class="mid">
    <h2 style="text-align: center;">SKILLS REQUIRED:</h2>
    <img  style="width:400px;height:500px;" src="{% static 'images/cyber.png' %}" alt="skills">
    </div>
    <h2>GROWTH:</h2>
    <p> According to the U.S. Bureau of Labor Statistics (BLS), employment of information security analysts is projected to grow 32 percent from 2019 to 2029, much faster than the average for all occupations. The rise in cyber attacks and the growing concern over data privacy are the major factors driving this growth.</p>
    </body>
