<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>database administrator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jobs.css' %}">
  </head>
  <body style="background-image:url('{% static 'images/bgfinal.jpeg' %}') ;">
    <div class="top">
      <h1 style="color:rgb(8, 8, 8);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">DATABASE ADMINISTRATOR</h1>
      <p >A database administrator (DBA) is a professional who is responsible for designing, implementing, and maintaining an organization's database systems. This includes tasks such as configuring, tuning, and optimizing database performance, as well as ensuring data integrity, security, and recovery.</p>
    </div >
    <div class="mid">
    <h2>SKILLS REQUIRED:</h2>
    <img  style="width:700px;height:400px;" src="{% static 'images/dataadmin.jpeg' %}" alt="">
  </div>
    <h2 >GROWTH:</h2>
    <p>The demand for database administrators is expected to grow significantly in the coming years as organizations continue to rely on data-driven decision making and adopt new technologies like big data and the cloud. According to the U.S. Bureau of Labor Statistics (BLS), employment of database administrators is projected to grow 9 percent from 2019 to 2029, about as fast as the average for all occupations. </p>
    </body>
<html>