<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>data scientist</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jobs.css' %}">
    <body style="background-image:url('{% static 'images/bgfinal.jpeg' %}') ;"></body>
    <div class="top">
      <h1 style="color:rgb(5, 1, 1)">DATA SCIENTIST</h1>
      <p style="font-size:20px;">A data scientist is a professional who uses scientific methods, processes, algorithms and systems to extract insights and knowledge from structured and unstructured data. They use a combination of skills in statistics, mathematics, programming and domain expertise to analyze large datasets, identify patterns, and make data-driven decisions.</p>
    </div >
    <div class="mid">
    <h2>SKILLS REQUIRED:</h2>
    <img style="width:700px;height:400px;"src="{% static 'images/ds.jpg' %}" alt="skills">
    </div>
    <h2>GROWTH:</h2>
    <p>The growth of data scientists has been significant in recent years and is expected to continue in the future. According to the Bureau of Labor Statistics, the employment of data scientists is projected to grow 16% from 2019 to 2029, much faster than the average for all occupations.</p>
  </body>