<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>information security analyst</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jobs.css' %}">
  </head>
    <body style="background-image:url('{% static 'images/bgfinal.jpeg' %}') ;"></body>
    <div class="top">
      <h1 style= "color:rgb(7, 55, 71);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">INFORMATION SECURITY ANALYST</h1>
      <p style="font-size:20px;">An information security analyst is a professional who is responsible for protecting an organization's computer systems and networks from cyber threats and attacks. This includes implementing and managing security measures such as firewalls, intrusion detection systems, and security protocols to safeguard sensitive information and prevent unauthorized access.</p>
    </div >
    <div class="mid">
    <h2>SKILLS REQUIRED:</h2>
  <img style="width:700px;height:400px;" src="{% static 'images/is.jpg' %}" alt="skills">
    </div>
    <h2>GROWTH:</h2>
    <p>According to the U.S. Bureau of Labor Statistics (BLS), employment of information security analysts is projected to grow 32 percent from 2019 to 2029, much faster than the average for all occupations. </p>
    </body>
  </html>